{% extends 'ramenapp/base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>削除</h2>
        <br>
        <div class="alert alert-danger" role="alert">
            <form method="post">
                {% csrf_token %}
                <p>以下の内容を本当に削除しますか？</p>
                <input type="submit" class="btn btn-outline-danger" value="削除する">
                <button type="button" onclick="history.back()"
                    class="btn ml-5 btn-outline-primary waves-effect">戻る</button>
            </form>
        </div>
        <br>
        <hr>
        <p>コメント内容</p>
        {{object.text}}
    </div>
</div>
{% endblock content %}