{% extends 'ramenapp/base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>お気に入り一覧</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th width="200px">タイトル</th>
                    <th>内容</th>
                    <th width="200px">日時</th>
                <tr>
            </thead>
            <tbody>
                {% for item in like_list %}
                <tr>
                    <td><a href="{% url 'ramenapp:post_detail' item.post.pk %}">{{item.post.title}}</a></td>
                    <td>{{item.post.content|safe|truncatechars_html:50}}</td>
                    {% if updated_at %}
                    <td>{{item.post.updated_at.date}}</td>
                    {% else %}
                    <td>{{item.post.created_at.date}}</td>
                    {% endif %}
                </tr>

                {% endfor %}

            </tbody>
        </table>
        <br>
        {% include 'ramenapp/pagination.html' %}
        <br>
    </div>
</div>
{% endblock content %}