{% extends 'ramenapp/base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>記事一覧</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th width="200px">タイトル</th>
                    <th>内容</th>
                    <th width="200px">更新日時</th>
                <tr>
            </thead>
            <tbody>
                {% for item in post_list %}
                <tr>
                    <td><a style="color: blue;" class="post-list-all" href="{% url 'ramenapp:post_detail' item.pk %}">{{item.title}}</a></td>
                    <td>{{item.content|safe|truncatechars_html:50}}</td>
                    {% if updated_at %}
                    <td>{{item.updated_at.date}}</td>
                    {% else %}
                    <td>{{item.created_at.date}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% include 'ramenapp/pagination.html' %}
        <br>
    </div>
</div>
{% endblock content %}